{% extends "base.html" %}

{% block content %}

<h1>Stock Data...</h1>

{% if stock_symbols %}
<h1>Here is the Data</h1>

{% for data in stock_symbols %}
<h5>
    Symbol: {{ data.symbol }}

    <p>Currency: {{ data.currency }}</p>
    <p>Description: {{ data.description }}</p>
    <p>Type: {{ data.type }}</p>
    <p>Current Price: ${{ data.c }}</p>
    <p>High Price (Today): ${{ data.h }}</p>
    <p>Low Price (Today): ${{ data.l }}</p>
    <p>Change (Down %): {{ data.dp }}%</p>
    <p>Previous Close: ${{ data.pc }}</p>
    <hr>
</h5>
{% endfor %}

{% else %}
<h1>There is no data</h1>
{% endif %}

{% endblock %}